.hide {
    display: none;
  }
  
  .correct {
    background-color: rgb(0, 255, 72);
  }
  
  .wrong {
    background-color: rgb(255, 0, 0);
  }

  .answer-buttons {
    margin:  5px;
  }

  .botones {
    margin: 100px;
  }

  .tus_notas {
    border: 2px solid red;
  }