.container-img {
   display: flex;
   text-align: center;
   justify-content: space-around;
   

}
.mySlides{
   display: none;
}
.mySlides img{
   width: 100%;
   width: 100px;
   cursor: pointer;
   


 
  
}
.prev,
.next{
 cursor: pointer;
 background: transparent;
 margin: 0px;
 padding: 0px;

 
 
}
.next {
 margin-left: 180px;
 
}
.prev:hover,
.next:hover{
   background-color: rgba(211, 211, 211, 0.8);
}
.elements{
   text-align: center;
}

.rotate-img{
transform:  rotate(-20deg);
}


@media screen and (max-width:900px) {
   .container{
       width: 100%;
   }
}
@media screen and (max-width:500px) {
   .container{
       width: 100%;
   }
   .prev,
   .next{
       padding: 5px;
   }
}

.glitch-wrapper {
   width: 100%;
   height: 100%;
   text-align: center;
   position: relative;
}

.glitch {
   position: relative;
   font-size: 80px;
   font-weight: 700;
   line-height: 1.2;
   color: #fff;
   letter-spacing: 5px;
   z-index: 1;
   text-align: center;
}

.glitch:before,
.glitch:after {
   display: block;
   content: attr(data-glitch);
   position: absolute;
   top: 0;
   left: 60px;
   opacity: 0.8;
}

.glitch:before {
   animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
   color: #060d0d;
   z-index: -1;
}

.glitch:after {
   animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
   color: #157fad;
   text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77,0,38,0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77,0,13,0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77,25,0,0.5), 9px 0 18px #00a2ff, 11px 0 18px #001180, 12px 2px 18px rgba(77,66,0,0.5), 12px 0 30px #0015ff, 14px 0 30px #006280, 15px 2px 30px rgba(0, 24, 77, 0.5), 15px 0 45px #00eaff, 17px 0 45px #007180, 17px 2px 45px rgba(0, 44, 77, 0.5), 2px 2px 2px rgba(0,40,206,0);
   z-index: -2;
}

@keyframes glitch-color {
   0% {
      transform: translate(0);
   }

   20% {
      transform: translate(-3px, 3px);
   }

   40% {
      transform: translate(-3px, -3px);
   }

   60% {
      transform: translate(3px, 3px);
   }

   80% {
      transform: translate(3px, -3px);
   }

   to {
      transform: translate(0);
   }
}

