html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#question-container {
  background: rgb(45, 177, 166);
}

.hide {
    display: none;
  }
  
  .correct {
    background-color: rgb(0, 255, 72);
  }
  
  .wrong {
    background-color: rgb(255, 0, 0);
  }

  .answer-buttons {
    margin:  5px;
  }

  .botones {
    margin: 100px;
  }

  .tus_notas {
    border: 2px solid red;
  }

button {
  color: aqua;
}