@font-face {
    font-family: "Baby";
    src: url(assets/fonts/Hellobaby.ttf);
  }
  
  @font-face {
    font-family: "Witch";
    src: url(assets/fonts/Witch\ Bell.ttf);
  }
  
  @font-face {
    font-family: "Painter";
    src: url(assets/fonts/Wall-Painter.ttf);
  }
  
  @font-face {
    font-family: "Creepy";
    src: url(assets/fonts/Creepy\ Midnight.ttf);
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap');
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
  }
  
  #logo {
    font-size: 60px;
    font-family: "Painter";
  }
  
  nav {
    display: flex;
    /* flex-direction: column; */
    gap: 2vw;
  }
  
  .span-style{
    font-size: 27px;
    font-family: "Creepy";
    text-shadow: 9px 4px 2px rgba(167,64,64,0.72);
    position: relative;
  }
  
  .span-style:hover {
    text-shadow: 0px 0px 8px #f6f7f9;
  }
  
  .span-style::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 0%;
    height: 3px;
    margin: auto 10%;
    background: #ea6615;
    transition: width 0.8s;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #ff0000;  
    
  }
  
  .span-style:hover::after {
    width: 80%;
    margin: auto 10%;
    
  }
  
  h1 {
    text-align: center;
    margin: 25px 0px;
  }
  
  body {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    height: 100vh;
  }
  
  #start-btn {
    width: 200px;
    height: 110px;
    font-size: 45px;
    font-family: "Baby";
  }
  
  .next-btn {
    background-image: url("assets/GIF/next.gif") ;
    
  }
  
  
  #contendor-encuesta {
    display: flex;
    flex-direction: column;
    padding: 20px 30;
    gap:1vw;
  }
  
  h2{
    text-align: center;
    font-size: 36px;
  }
  
  #opciones-encuesta {
    display: flex;
    gap: 1em;
  }
  
  label{
    font-size:25px;
    font-weight:700;
    font-family: 'Roboto', sans-serif;
    margin: 30px;
    margin-bottom: 10px;
  }
  
  #trivia_amount {
    border-radius: 8px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-size: 20px;
    border: solid;
    height: 3em;
    width: 21em;
  }
  
  #trivia_category{
    border-radius: 8px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    border: solid;
    font-size: 20px;
    height: 3em;
    width: 21em;
  }
  
  #question-container {
    background: #FFFAE7;
    width: 65%;
    height: 170px;
    border-radius: 10px;
    box-shadow: 13px 12px 32px 3px rgba(0, 0, 0, 0.75);
    border: solid;
    padding: 20px 20px;
   
  }
  
  #main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 20px 40px;
  }
  
  #type {
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    font-size: 30px;
    font-weight: bold;
    text-decoration:underline 2px gray;
    font-style: italic;
    
  }
  
  #question {
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    padding: 8px 10px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
  }
  
  .hide {
    display: none;
  }
  
  .correct {
    background-color: rgba(26,212,85,0.45);
    border: solid;
    -webkit-box-shadow: 0px 0px 9px 10px rgba(107,255,151,1);
  -moz-box-shadow: 0px 0px 9px 10px rgba(107,255,151,1);
  box-shadow: 0px 0px 9px 10px rgba(107,255,151,1);
  
  
  }
  
  .wrong {
    background-color: rgb(209, 75, 75);
    border: solid;
    
  }
  
  #answer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 10px 10px;
  }
  
  .nota {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    font-size: 30px;
  }
  
  .botones {
    margin: 100px;
  }
  
  .tus_notas {
    border: 2px solid red;
  }
  
  button {
    color: rgb(4, 6, 6);
    border: 2px 2px #333;
    border-radius: 7px;
    font-family: "Witch";
    font-size: 25px;
    width: 10vw;
    height: 8vw;
  }
  
  button:hover {
    cursor: pointer;
  -webkit-box-shadow: 10px 10px 69px 13px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 69px 13px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 69px 13px rgba(0,0,0,0.5);
  } 
  
  .btn-home {
    font-size: 40px;
    width: 25vw;
    height: 16vw;
  }
  
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }